.card {
  width: 26%;
  padding: 15px;
  margin: 20px 0;
  background-color: grey;
  border-radius: 15px;
  box-shadow: 3px 3px 15px 1px white;
  border: solid 1px transparent;
}

.card:hover {
  border: solid 1px white;
}

.card--alive {
  background-color: green;
}

.card--dead {
  background-color: red;
}

h2 {
  width: 100%;
  font-size: 20px;
}

img {
  width: 100%;
  border-radius: 15px;
}
